
    <!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Test</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="test.js"></script>
      </head>
      <body>
        <div class="container" ng-app="miaplicacion">
            <div class="row" ng-controller="micontrolador">
               <div class="col-xs-12">
                 <h3>Listado de Productos</h1>
                 <input type="text" class="form-control" placeholder="buscar aqui" ng-model="search.$">
                 <p class="numreg" ng-show="visible"> 0 registros </p>
                 <div class="table-responsive">
                   <table class="table table-condensed table-hover table-striped">
                     <thead>
                     <tr>
                       <td>Id</td>
                       <td>Titulo</td>
                     </tr>  
                     </thead>
                     <thead>
                       <tr>
                         <td><input type="text" class="form-control" ng-model="search.id"></td>
                        <td><input type="text" class="form-control" ng-model="search.title"></td>
                       </tr>
                     </thead>  
                    <tbody>
                     <tr ng-repeat = "producto in productos | orderBy:'id'| filter:search:strict">
                       <td>{{producto.id}}</td>
                       <td>{{producto.title}}</td>
                      </tr> 
                    </tbody>
                     
                   </table>
                 </div>
               </div>
            </div>
          </div>
      </body>
    </html>

